html, body
{
    margin: 0px;
    height: 100%;
}

.fill
{
    height: 100%;
    width: 100%;
    background-image: url(./blurcollege.jpg);
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

#textinput
{
    height: 3%;
    width: 94%;
    position: absolute;
    bottom: 1px;
    padding: 5px;
    border-radius: 1px;
}

#sendbutton
{
    height: 5%;
    width: 5%;
    position: absolute;
    right: 0px;
    bottom: 1px;
    border-radius: 2px;
    padding: 5px;
    border-color: black;
}